*   {
    margin: 0rem;
}
body{
    border: 0.31rem solid white;
    box-sizing: border-box;
    padding: 5%;
    background: black;
    background-image: url(wood-desktop-wooden-aerial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-content: center;
    user-select: none;
    overflow-x: hidden;
}

section {
    border: 0.31rem solid white;
    padding: 5%;
    border-radius: 2rem;
    box-sizing: border-box;
    height: 32.2rem;
    
    width: 23.5rem;
    max-width: 100%;
    margin: auto;
    background: linear-gradient(black,white);
    box-shadow: 0.31rem 0.31rem 0.32rem black;
    display: flex;
    flex-wrap: wrap;
}

button  {
    font-size: 1.25rem;
    height: 4.3rem;
    width: 4.3rem;
    background-color: white;
    font-weight: bold;
    border-radius: 20%;
    margin: 0.31rem;
    cursor: pointer;
    
}
button:hover{
    border: 0.1rem solid white;
    background: grey;
    scale: 1.1;
    color: white;
    box-shadow: 0.1rem 0.1rem 0.15rem black;

}
p{
    border: 0.31rem solid white;
    width: 2rem;
    height: 4.3rem;
    box-sizing: border-box;
    padding-right: 1.25rem;
    margin: auto;
    margin-bottom: 0.62rem;
    width: 100%;
    
    font-size: 2.5rem;
    font-weight: bold;
    text-align: right;
    border-radius: 1rem;
    background: lightgrey;
}

@media (max-width: 600px) {
  
}