*   {
    margin: 0px;
}
body{
    border: 5px solid white;
    box-sizing: border-box;
    padding: 10px;
    background: black;
    min-height: 100vh;
    display: grid;
    place-content: center;
    user-select: none;
}
button  {
    font-size: 20px;
    height: 70px;
    width: 70px;
    background-color: white;
    font-weight: bold;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    
}
button:hover{
    border: 3px solid blue;
    background: lightblue;
    scale: 1.1;

}
p{
    border: 5px solid white;
    width: 300px;
    height: 80px;
    margin: 5px;
    padding: 10px;
    padding-right: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    border-radius: 15px;
    background: lightgrey;
}